/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outer-container{
    align-items: center;
    justify-content: center;
}

.inner-container{
    /* border: 1px solid black; */
    width: auto;
    height: 500px;
}

.heading{
    color: #076af5;
    font-family: "Quicksand", "sans-serif";
    font-size: 20px;
    font-weight: bold;
}

.form-container{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}


.modalTitle{
    color:blue;
    font-weight: bold;
    padding-left: 120px;
    /* padding-right: 10px; */
    /* background-color:green; */
}

.modalLabel1{
    color:blue; 
    padding-left: 60px;
}

.modalLabel2{
    color:blue; 
    padding-left: 50px;
}

.modalLabel3{
    color:blue; 
    padding-left: 56px;
}

.modalBody{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.classify{
    position:absolute;
     top: 30px;
     right: 400px;
     background-color: rgb(68, 68, 208);
     box-shadow: 5px 10px 7px rgba(13, 10, 10, 0.1);
     color: white;
     border-radius: 20px;
     padding: 15px;
     font-size: 18px;
     cursor: pointer;
  } 