/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
}


@media screen and (max-width: 767px){
  .form-wrapper{
    width: 100%;
  }
}
@media only screen and (max-width: 476px){
/* Small smartphones [325px -> 425px] */
    .outer-wrapper .form-wrapper{
      height: auto;
    }
    .form-wrapper .login-page{
      display:block;
    }
    .login-image{
      display: none;
    }
} 


.classify{
  position:absolute;
   top: 40px;
   right: 60px;
} 

.form-wrapper{
  width: 800px;
  height: 500px;
  justify-content: center;
  display: flex;
  align-items: center;
  border: 5px solid rgb(255, 165, 8);
  border-radius: 10px;
  margin: 0 auto;
  box-shadow: 5px 10px 7px rgba(13, 10, 10, 0.1);
  background: white;
  flex-direction: column;

  }

.login-page{
  display: flex;
  align-items: center;
}

.outer-wrapper{
  padding: 100px auto;
  display: flex;
  align-items: center;
  height: 100%;
  /* box-shadow: 5px 10px 7px rgba(13, 10, 10, 0.1); */
  background-image: 
  url("/public/orange-bg.jpg");
  background-size: cover;
  background-repeat:no-repeat; 
  background-attachment: fixed;
  height: 100vh;
  
}

.login-image{
  /* box-shadow: 5px 10px 7px 10px rgba(13, 10, 10, 0.1); */
  /* border-top-left-radius: 10px; */
  object-fit: cover;
}


/* .login-form{
   height: 100%;
    width: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 5px 10px 7px rgba(13, 10, 10, 0.1);
    background: rgb(246, 241, 241);
    flex-direction: column;
  } */

  .login-form{
    height: 100%;
     width: 350px;
     justify-content: center;
     display: flex;
     /* align-items: center; */
     border-radius: 10px;
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
     /* margin: 0 auto; */
     box-shadow: 5px 10px 7px rgba(13, 10, 10, 0.1);
     background: rgb(246, 241, 241);
     flex-direction: column;
  
  }
  
/* h1{
  font-family: 'Quicksand', sans-serif;
  color: rgb(255, 165, 8);
  text-align: center; 

} */

.email-input, .password-input{
  padding: 15px;
  margin-top: 2px;  

}

.email-input, .password-input{
  padding: 15px;
  margin-top: 2px;  

}

label{
  color: rgb(255, 165, 8);
}

#email, #password{
      border-radius: 30px;
      padding: 7px;
      width: 100%; 
}


.login_button
{
    border-radius: 10px;
    margin:  20px 1px; 
    width: 90%; 
    text-align: center;
    margin-bottom: 40px;
    padding: 10px;
    width: 100%; 
    border-color: black;
    padding: 10px;
    margin:  20px 1px; 

}


h1, label{
  font-family:'Quicksand', sans-serif;
  font-size: 18px;
  padding: 10px;
}



.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
  display:flex
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}

#togglePassword{
  margin-left: 290px; 
cursor: pointer;
} 

